.title{
    font-size: 23px;
    font-weight: 700;
}
.daily-item{
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}
.icon-small{
    width:40px;
}
.day{
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}
.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}
.min-max{
    color:black;
}

.daily-details-grid{
    grid-row-gap: 0;
    grid-column-gap:15px ;
    column-gap: 15px;
    display: grid;
    row-gap:0; 
    flex: 1 1;
    grid-template-columns: auto auto ;
    padding: 5px 15px; 
}
.daily-details-grid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;
}
.daily-details-grid-item label:first-child{
    color: bisque;
}
.daily-details-grid-item label:last-child{
    color:white;
}
